div#yellow-container {
   position: relative;
   height: 58.333vw;
   max-height: 933.328px;
}

div#yellow-block {
   width: 58.333%;
   position: absolute;
   height: 100%;
   right: 0;
   z-index: 1;
}

div#img-left-yellow {
   background-image: url(../img/yellow1.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 41.666%;
   position: absolute;
   z-index: 2;
   left: 8.333%;
   top: 14.285%;
   bottom: 14.285%;
   overflow: hidden;
}

div#img-right-yellow {
   background-image: url(../img/yellow2.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 33.333%;
   position: absolute;
   z-index: 2;
   overflow: hidden;
   top: 28.57%;
   bottom: 28.57%;
   right: 8.333%;
}

div#green-container {
   height: 58.333vw;
   max-height: 933.328px;
   position: relative;
}

div#green-block {
   width: 58.333%;
   position: absolute;
   height: 100%;
   left: 0;
   z-index: 1;
}

div#img-left-top-green {
   background-image: url(../img/green2.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 33.333%;
   position: absolute;
   z-index: 2;
   left: 8.333%;
   top: 11.111%;
   bottom: 55.555%;
   overflow: hidden;
}

div#img-left-bottom-green {
   background-image: url(../img/green3.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 33.333%;
   position: absolute;
   z-index: 2;
   left: 8.333%;
   top: 55.555%;
   bottom: 11.111%;
   overflow: hidden;
}

div#img-right-green {
   background-image: url(../img/green1.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 41.666%;
   position: absolute;
   z-index: 2;
   overflow: hidden;
   top: 22.222%;
   bottom: 22.222%;
   right: 8.333%;
}

div#colorless-container {
   max-width: 800px;
   width: 50vw;
   height: 28.125vw;
   max-height: 450px;
   margin: 0 auto;
   position: relative;
   display: block;
}

div#img-center-colorless {
   background-image: url(../img/colorless1.webp);
   background-size: cover;
   background-position: 50% 50%;
   margin: 0;
   height: 100%;
   width: 100%;
   position: absolute;
   overflow: hidden;
}

div#purple-container {
   height: 58.333vw;
   max-height: 933.328px;
   position: relative;
}

div#purple-block {
   position: absolute;
   height: 100%;
   left: 16.666%;
   right: 16.666%;
   z-index: 1;
   overflow: hidden;
}

div#img-left-purple {
   background-image: url(../img/purple1.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 33.333%;
   position: absolute;
   z-index: 2;
   left: 8.333%;
   top: 28.571%;
   bottom: 28.571%;
   overflow: hidden;
}

div#img-right-purple {
   background-image: url(../img/purple2.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 41.666%;
   position: absolute;
   z-index: 2;
   overflow: hidden;
   top: 14.285%;
   bottom: 14.285%;
   right: 0;
}

div#blue-container {
   height: 666.666px;
   position: relative;
   margin: 0 0 133.333px 0;
}

div#blue-block {
   position: absolute;
   height: 100%;
   left: 8.333%;
   right: 8.333%;
   z-index: 1;
}

div#img-left-blue {
   background-image: url(../img/blue1.webp);
   background-size: cover;
   background-position: 50% 50%;
   width: 41.666%;
   top: 0;
   bottom: 0;
   position: absolute;
   z-index: 2;
   left: 8.333%;
   overflow: hidden;
}

div#text-right-blue {
   z-index: 2;
   height: 100%;
   left: 58.333%;
   right: 16.666%;
   position: absolute;
   font-size: 17px;
   line-height: 41px;
}

div#text-right-blue h2 {
   height: auto;
   top: 50%;
   position: absolute;
   transform: translate(0, -50%);
}

div#text-right-blue a::after {
   content: ' \203A';
}