/* html */
   body,
   button,
   input,
   select {
      font-size: 1rem;
      font-size: clamp(1rem, 0.889rem + 0.5549999999999999vw, 1.777rem);
      font-weight: 400;
      line-height: 1.5;
      font-family: "Outfit", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      text-decoration: none;
   }

   a:link,
   a:visited,
   a:hover,
   a:active {
      text-decoration: none;
   }

   /* div#main-container {} */

   /* header */
      /* div#top */
         div#top {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
            font-weight: 900;
         }

         div#logo-top p {
            text-transform: uppercase;
         }

         div#menu-top button {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
            font-weight: 900;
         }

         /* nav#left-top a {
         } */

         nav#left-top button {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
            font-weight: 900;
         }

         /* nav#right-top a {
         } */

         nav#right-top a.smaller {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.7142857142857143rem + 0.17857142857142858vw, 1rem);
         }

      /* div#hidden */
         div#hidden {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
         }

         div#hidden section.row h2 {
            font-size: 1rem;
            font-size: clamp(1rem, 0.889rem + 0.5549999999999999vw, 1.777rem);
            line-height: 2.5;
         }

         /* div#hidden section.row a {
         } */

         div#hidden li.column h3,
         div#hidden li.column p {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
         }

   /* nav#sticky */
      nav#sticky a {
         font-size: 0.75rem;
         font-size: clamp(0.75rem, 0.7142857142857143rem + 0.17857142857142858vw, 1rem);
         font-weight: 900;
      }

   /* section#large-img */
      h1#large-title {
         font-size: 4rem;
         font-size: clamp(4rem, 2.673142857142857rem + 6.634285714285715vw, 13.288rem);
         font-weight: 900;
      }

   /* main */
      /* section.text-section */
         section.text-section h2 {
            font-size: 1.333rem;
            font-size: clamp(1.333rem, 1.185rem + 0.7400000000000001vw, 2.369rem);
         }

         section.text-section p {
            font-size: 1rem;
            font-size: clamp(1rem, 0.9524285714285714rem + 0.23785714285714282vw, 1.333rem);
            line-height: 1.75;
         }

      /* figure */
         figure figcaption {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.7142857142857143rem + 0.17857142857142858vw, 1rem);
            font-weight: 900;
         }

      /* div#blue-container */
         div#text-right-blue h2,
         div#text-right-blue a {
            font-size: 0.5rem;
            font-size: clamp(0.5rem, 5.551115123125783e-17rem + 2.5vw, 4rem);
         }

   /* footer */
   footer {
      line-height: 1.333;
   }

      /* div#logo-footer */
         div#logo-footer p {
            font-size: 1.777rem;
            font-size: clamp(1.777rem, 1.4295714285714285rem + 1.7371428571428569vw, 4.209rem);
            font-weight: 900;
            line-height: 1;
         }

      /* div#nav-footer */
         div#nav-footer div.column a,
         div#nav-footer div.column h3,
         div#nav-footer div.column p {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
         }

         div#nav-footer div.column input#email,
         div#nav-footer div.column input#submit,
         div#nav-footer div.column form select {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.6667142857142857rem + 0.4164285714285714vw, 1.333rem);
            font-weight: 900;
         }

      /* div#bottom */
         nav#left-bottom a,
         section#made-in p {
            font-size: 0.75rem;
            font-size: clamp(0.75rem, 0.7142857142857143rem + 0.17857142857142858vw, 1rem);
            font-weight: 900;
         }