div#top {
   position: relative;
   height: 70px;
   background-color: tomato;
   font-size: 1.25rem;
   overflow: hidden;
}

@media only screen and (max-width: 1279px) {
   div#top {
      font-size: 1rem;
   }
}

div#logo-top {
   width: 60px;
   height: 28px;
   background-color: black;
   color: white;
   position: absolute;
}

div#logo-top a {
   color: white;
}

div#logo-top p {
   position: absolute;
   text-transform: uppercase;
}

nav#left-top {
   position: absolute;
   left: 60px;
}

nav#left-top li {
   float: left;
   padding-left: 10px;
}

nav#left-top li:first-child {
   padding-left: 0;
}

nav#left-top button {
   font-size: 1.25rem;
}

nav#left-top button::after {
   content: " +";
}

nav#right-top {
   position: absolute;
   right: 0;
}

nav#right-top li {
   float: left;
   padding-right: 10px;
}

nav#right-top li:last-child {
   padding-right: 0;
   font-size: 1rem;
}

div#hidden {
   position: relative;
   height: 350px;
   background-color: chocolate;
   font-size: 1.25rem;
   display: block;
   overflow: hidden;
}

section.row-hidden {
   position: relative;
}

.row-hidden h2 {
   font-size: 1.875rem;
   font-weight: bold;
}

.row-hidden h3 {
   font-size: 1.25rem;
   font-weight: bold;
}

.row-hidden li {
   float: left;
   padding-left: 10px;
}

.row-hidden li:first-child {
   padding-left: 0;
}

nav#sticky {
   position: sticky;
   top: -2px;
   height: 68px;
   background-color: cornflowerblue;
   font-size: 1rem;
   border-top: 2px solid black;
   z-index: 3;
   overflow: hidden;

   /* smooth scroll */
   -webkit-transition: all 0.5s ease;
   -moz-transition: position 10s;
   -ms-transition: position 10s;
   -o-transition: position 10s;
   transition: all 0.5s ease;
   animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
   0% {
       transform: translateY(-68px);
   }

   100% {
       transform: translateY(0px);
   }
}

nav#sticky li {
   float: left;
   padding-left: 10px;
}

nav#sticky li:first-child {
   padding-left: 0;
}