/* todo: */
/*  - mudanças para telas menores
    - imagens menores para telas menores
    - incluir tags dos navegadores
    - link rel=preload
    - configurar forms
    - configurar meta tags
    - favicon
    - trocar variveis globais por valores */

:root {
    /* cores originais do projeto */
    /* --project-yellow: #fbffa7; */
    /* --project-blue: #b1c5ff; */
    /* --project-green: #b6ffc0; */
    /* --project-orange: #ff764d; */
    /* --project-purple: #d5b3ff; */
    /* --project-dark-blue: #0000ff; */

    /* cores atuais */
    --project-yellow: #F9FFBD;
    --project-blue: #BDE9FF;
    --project-green: #BDFFCC;
    --project-purple: #EABDFF;
    --project-dark-blue: #0000F5;
    --project-orange: #992400;

    --white: #ffffff;
    --gray: #f3f3f3;
    --also-gray: #eeeeee;
    --black: #333333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* max-width: 100vw; */
}

*::selection {
    background: var(--project-dark-blue);
    color: var(--gray);
}

body {
    background-color: var(--gray);
    font-family: 'Outfit', sans-serif;
    color: var(--black);
    display: auto;
    overflow-x: hidden;
}

#main-container {
    background-color: var(--white);
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    font-size: 18px;
    font-weight: bold;
}

.small-font-header {
    font-size: 14px;
}

.blue-font:link,
.blue-font:visited,
.blue-font:hover {
    color: var(--project-dark-blue);
}

.orange-font:link,
.orange-font:visited,
.orange-font:hover {
    color: var(--project-orange);
}

header a:link,
header a:visited,
header a:hover {
    color: var(--black);
    text-decoration: none;
}

header ul {
    list-style: none;
}

header li {
    float: left;
    display: block;
    margin: 0 20px;
}

button {
    background-color: var(--white);
    border: none;
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

button a::after {
    content: "+";
}

#top-nav-container {
    width: 1600px;
    height: 69px;
    position: relative;
    overflow: hidden;
}

#logo-top-nav {
    width: 60px;
    height: 28px;
    background-color: var(--black);
    position: relative;
    overflow: hidden;
    margin: 20px;
    left: 20px;
}

#text-logo-top-nav {
    color: var(--white);
    position: absolute;
    font-size: 11px;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-logo-top-nav a:link,
#text-logo-top-nav a:visited,
#text-logo-top-nav a:hover {
    color: var(--white);
    text-decoration: none;
}

#left-top-nav {
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
}

#right-top-nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#right-top-nav .small-font-header {
    margin-top: 4px;
}

#hidden-nav-container {
    width: 1600px;
    height: 325px;
    display: none;
    position: relative;
    padding-top: 27px;
}

#hidden-nav-container h2 {
    padding-left: 40px;
    padding-bottom: 9px;
}

#hidden-nav-container ul {
    padding-left: 20px;
    line-height: 30px;
    font-weight: normal;
    padding-bottom: 42px;
}

#box-nav li {
    width: 350px;
    height: 90px;
}

#box-nav .a-title {
    font-weight: bold;
}

#sticky-nav-container {
    width: 1600px;
    height: 68px;
    overflow: hidden;
    padding-left: 40px;
    position: relative;
    border-top: 2px solid var(--also-gray);
}

#sticky-nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#header-img {
    /* 5 4 */
    background-image: url("../img/header4.webp");
    background-size: cover;
    background-position: 50% 50%;
    height: calc(100vh - 137px);
    margin: 0 133.333px;
    overflow: hidden;
    position: relative;   
}
#header-h1 {
    padding: 0 30px 15px 30px;
    border: 10px solid var(--project-orange);
    color: var(--project-orange);
    font-size: 130px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.text-section {
    width: 800px;
    margin: 132px auto;
    position: relative;
}

.text-section a:link,
.text-section a:visited,
.text-section a:hover {
    text-decoration: none;
    color: var(--project-dark-blue);
}

.text-section h2 {
    font-size: 27.4px;
    line-height: 43px;
}

.text-section p {
    font-size: 17.6px;
    line-height: 27px;
    margin-top: 26px;
}

#yellow-container {
    width: 1600px;
    height: 933.333px;
    position: relative;
}

#yellow-block {
    background-color: var(--project-yellow);
    width: 58%;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 1;
}

#img-left-yellow {
    background-image: url(../img/yellow1.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 41%;
    position: absolute;
    z-index: 2;
    left: 8.5%;
    top: 15%;
    bottom: 15%;
    overflow: hidden;
}

#img-right-yellow {
    background-image: url(../img/yellow2.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 35%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    top: 28.5%;
    bottom: 28.5%;
    right: 8.5%;
}

video {
    width: 800px;
    display: block;
    margin: 0 auto;
}

figcaption {
    width: 800px;
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
    padding: 12px;
}

#green-container {
    width: 1600px;
    height: 1200px;
    position: relative;
}

#green-block {
    background-color: var(--project-green);
    width: 60%;
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 1;
}

#img-left-top-green {
    background-image: url(../img/green2.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 34%;
    position: absolute;
    z-index: 2;
    left: 8.5%;
    top: 12%;
    bottom: 55%;
    overflow: hidden;
}

#img-left-bottom-green {
    background-image: url(../img/green3.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 34%;
    position: absolute;
    z-index: 2;
    left: 8.5%;
    top: 55%;
    bottom: 12%;
    overflow: hidden;
}

#img-right-green {
    background-image: url(../img/green1.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 41%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    top: 23%;
    bottom: 23%;
    right: 8.5%;
}

#colorless-container {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

#img-center-colorless {
    background-image: url(../img/colorless1.webp);
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#purple-container {
    width: 1600px;
    height: 933.333px;
    position: relative;
}

#purple-block {
    background-color: var(--project-purple);
    position: absolute;
    height: 100%;
    left: 17%;
    right: 17%;
    z-index: 1;
}

#img-left-purple {
    background-image: url(../img/purple1.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 32%;
    position: absolute;
    z-index: 2;
    left: 8.5%;
    top: 29%;
    bottom: 29%;
    overflow: hidden;
}

#img-right-purple {
    background-image: url(../img/purple2.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 41%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    top: 14%;
    bottom: 14%;
    right: 0;
}

#blue-container {
    width: 1600px;
    height: 666.666px;
    position: relative;
    margin: 0 0 132px 0;
}

#blue-block {
    background-color: var(--project-blue);
    position: absolute;
    height: 100%;
    left: 8.5%;
    right: 8.5%;
    z-index: 1;
}

#img-left-blue {
    background-image: url(../img/blue1.webp);
    background-size: cover;
    background-position: 50% 50%;
    width: 41.5%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 8.5%;
    overflow: hidden;
}

#text-right-blue {
    z-index: 2;
    height: 100%;
    left: 58.5%;
    right: 17%;
    position: absolute;
    font-size: 17px;
    line-height: 41px;
}

#text-right-blue h2 {
    height: auto;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

#text-right-blue a:link,
#text-right-blue a:visited,
#text-right-blue a:hover {
    color: var(--project-dark-blue);
    text-decoration: none;
}

#text-right-blue a::after {
    content: '\203A';
}

footer {
    height: 831px;
    width: 1600px;
    border-top: 2px solid var(--also-gray);
    padding: 120px 133.333px;
    /* overflow: hidden; */
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

footer a:link,
footer a:visited,
footer a:hover {
    color: var(--black);
    text-decoration: none;
}

.arrow-a::after {
    content: ' \203A';
}

footer h3 {
    font-weight: bold;
    font-size: 18px;
}

#logo-top-footer {
    font-size: 54px;
    font-weight: bold;
    position: relative;
    left: 0;
    top: 0;
}

#footer-container {
    margin: 64px 0 0 0;
    position: relative;
    height: 440px;
    line-height: 30px;
}

footer ul {
    list-style: none;
}

#newsletter-footer {
    width: 533.333px;
    position: absolute;
    top: 0;
    right: 0;
}

input {
    height: 50px;
    border: none;
    background-color: var(--gray);
    color: var(--black);
    font-size: 16px;
    padding: 0 20px;
}

#top-left-footer {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.social-media-square {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: var(--black);
    float: left;
}

#top-middle-footer {
    width: 400px;
    position: absolute;
    top: 0;
    left: 400px;
}

#bottom-left-footer {
    width: 400px;
    position: absolute;
    top: 220px;
    left: 0;
}

#bottom-middle-footer {
    width: 400px;
    position: absolute;
    top: 220px;
    left: 400px;
}

#language-footer {
    width: 533.333px;
    position: absolute;
    top: 220px;
    right: 0;
}

#nav-bottom-footer {
    width: 100%;
    float: left;
    left: 0;
    position: relative;
    padding-bottom: 120px;
    font-size: 12px;
    font-weight: bold;
}

#nav-bottom-footer li {
    float: left;
    padding-right: 20px;
}

#logo-bottom-footer {
    float: right;
}

@media only screen and (max-width: 1599px) {
    /* container branco largura da tela
    div colorida + video + img largura diminui constante
    div colorida tudo diminui proporcionalmente constante
    div azul largura diminui constante
    section largura diminui constante */
}

@media only screen and (max-width: 1279px) {
    /* menu fonte tamanho diminui
    div azul muda formato
    div azul imagem diminui constantemente */
}

@media only screen and (max-width: 1123px) {
    /* section h2 e p size diminuem */
}

@media only screen and (max-width: 1023px) {
    /* menu fonte tamanho aumenta
    input inteiro sign up largura diminui constante
    footer ableton tamanho diminui */
}

@media only screen and (max-width: 767px) {
    /* header fonte tamanho diminui */
}

@media only screen and (max-width: 419px) {
    /* footer botoes redes tamanho diminui */
}

@media only screen and (max-width: 215px) {
    /* container branco largura diminui constante
    menu altura diminui constante
    menu fonte tamamho diminui constante
    header altura diminui constante
    header fonte tamanho diminui constante
    section h2 e p size diminem constante
    footer ableton tamanho diminui constante */
}

@media only screen and (max-width: 129px) {
    /* input cinza sign up largura fixa */
}