/* general */
* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

/* body */
body {
   overflow-x: hidden;
}

nav#left-top button {
   cursor: pointer;
}

nav#left-top button::after {
   content: " +";
}

/* main */
div#yellow-container {
   /* position: relative; */
   /* height: 58.333vw; */
   /* max-height: 933.328px; */
}

div#yellow-block {
   /* width: 58.333%; */
   /* position: absolute; */
   /* height: 100%; */
   right: 0;
   z-index: 1;
}

div#img-left-yellow {
   /* width: 41.666%; */
   /* position: absolute; */
   z-index: 2;
   /* left: 8.333%;
   top: 14.285%;
   bottom: 14.285%; */
   /* overflow: hidden; */
}

div#img-right-yellow {
   /* width: 33.333%; */
   /* position: absolute; */
   z-index: 2;
   /* overflow: hidden; */
   /* top: 28.57%;
   bottom: 28.57%;
   right: 8.333%; */
}

div#green-container {
   /* height: 58.333vw; */
   /* max-height: 933.328px; */
   /* position: relative; */
}

div#green-block {
   /* width: 58.333%; */
   /* position: absolute; */
   /* height: 100%; */
   /* left: 0; */
   z-index: 1;
}

div#img-left-top-green {
   /* width: 33.333%; */
   /* position: absolute; */
   z-index: 2;
   /* left: 8.333%;
   top: 11.111%;
   bottom: 55.555%; */
   /* overflow: hidden; */
}

div#img-left-bottom-green {
   /* width: 33.333%; */
   /* position: absolute; */
   z-index: 2;
   /* left: 8.333%;
   top: 55.555%;
   bottom: 11.111%; */
   /* overflow: hidden; */
}

div#img-right-green {
   /* width: 41.666%; */
   /* position: absolute; */
   z-index: 2;
   /* overflow: hidden; */
   /* top: 22.222%;
   bottom: 22.222%;
   right: 8.333%; */
}

div#colorless-container {
   /* max-width: 800px; */
   /* width: 50vw; */
   /* height: 28.125vw; */
   /* max-height: 450px; */
   /* position: relative; */
   display: block;
}

div#img-center-colorless {
   /* height: 100%; */
   /* width: 100%; */
   /* position: absolute; */
   /* overflow: hidden; */
}

div#purple-container {
   /* height: 58.333vw; */
   /* max-height: 933.328px; */
   /* position: relative; */
}

div#purple-block {
   /* position: absolute; */
   /* height: 100%; */
   /* left: 16.666%;
   right: 16.666%; */
   z-index: 1;
   /* overflow: hidden; */
}

div#img-left-purple {
   /* width: 33.333%; */
   /* position: absolute; */
   z-index: 2;
   /* left: 8.333%;
   top: 28.571%;
   bottom: 28.571%; */
   /* overflow: hidden; */
}

div#img-right-purple {
   /* width: 41.666%; */
   /* position: absolute; */
   z-index: 2;
   /* overflow: hidden; */
   /* top: 14.285%;
   bottom: 14.285%;
   right: 0; */
}

div#blue-container {
   /* height: 666.666px; */
   /* position: relative; */
}

div#blue-block {
   /* position: absolute; */
   /* height: 100%; */
   /* left: 8.333%;
   right: 8.333%; */
   z-index: 1;
}

div#img-left-blue {
   /* width: 41.666%; */
   /* top: 0;
   bottom: 0; */
   /* position: absolute; */
   z-index: 2;
   /* left: 8.333%; */
   /* overflow: hidden; */
}

div#text-right-blue {
   z-index: 2;
   /* height: 100%;
   left: 58.333%;
   right: 16.666%; */
   /* position: absolute; */
   font-size: 17px;
   line-height: 41px;
}

div#text-right-blue h2 {
   /* height: auto; */
   /* top: 50%; */
   /* position: absolute; */
   /* transform: translate(0, -50%); */
}

div#text-right-blue a::after {
   content: ' \203A';
}

/* footer */
div#bottom {
   /* position: relative; */
   /* height: 171px; */
   /* overflow: hidden; */
}

nav#left-bottom {
   /* position: absolute; */
   /* left: 0; */
}

nav#left-bottom li {
   float: left;
   /* padding-left: 10px; */
}

nav#left-bottom li:first-child {
   /* padding-left: 0; */
}

section#made-in p {
   /* position: absolute; */
   /* right: 45px; */
}

div#flag {
   /* position: absolute; */
   /* right: 0; */
   /* width: 45px; */
   /* height: 21px; */
}

div#nav-flex {
   /* position: relative; */
   /* height: 352px; */
   /* overflow: hidden; */
}

section.row-nav-flex {
   display: flex;
   /* width: 100%; */
   /* height: 50%; */
}

div#logo-footer {
   /* position: relative; */
   /* height: 253px; */
   /* overflow: hidden; */
   border-top-width: 2px;
   border-top-style: solid;
}

#logo-footer div {
   /* width: 188px; */
   /* height: 45px; */
}