/* container branco largura fixa;
menu altura fixa;
menu fonte tamanho fixo;
header altura fixa;
header fonte tamanho fixo;
div colorida + video + img largura fixa
div azul largura fixa
section largura fixa
footer ableton tamanho fixo
footer botoes redes tamanho fixo */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Outfit', sans-serif;
    color: black;
    display: auto;
}

#main-container {
    background-color: #ffffff;
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    height: 100vh;
    position: relative;
}

#header-nav {
    height: 138.6px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}

ul {
    list-style: none;
}

#header-nav a:link,
#header-nav a:visited,
#header-nav a:hover {
    text-decoration: none;
    color: #000000;
}

#header-img {
    background-image: url(https://ableton-production.imgix.net/about/header.jpg);
    background-size: cover;
    background-position: 50% 50%;
    height: calc(100% - 138.6px);
    margin: 0 8.5%;
    overflow: hidden;
    position: relative;
}

#header-p {
    color: #ff764d;
    font-size: 130px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-section {
    width: 800px;
    margin: 132px auto;
    position: relative;
}

.text-section a:link,
.text-section a:visited,
.text-section a:hover {
    text-decoration: none;
    color: #0000ff;
}

.text-section h2 {
    font-size: 27px;
    line-height: 43px;
}

.text-section p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 26px;
}

#smaller-p {
    /* font-size: 1.078em; */
}

#yellow-container {
    width: 100%;
    height: 933.333px;
    position: relative;
}

#yellow-block {
    background-color: #fbffa7;
    width: 58%;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 1;
}

#img-left-yellow {
    background-image: url(https://ableton-production.imgix.net/about/photo-1.jpg);
    background-size: cover;
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 2;
    left: 8.5%;
    top: 8.7em;
    overflow: hidden;
}

#img-left-yellow img {
    /* width: 100%; */
}

#img-right-yellow {
    /* background-image: url(https://ableton-production.imgix.net/about/photo-2.jpg); */
    /* width: 33.8%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 16em;
    margin: 0 7em;
    overflow: hidden;
    height: 51.5vh;
    background-color: black; */
}

#img-right-yellow img {
    /* height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

@media only screen and (max-width: 1599px) {
    /* container branco largura da tela
    div colorida + video + img largura diminui constante
    div colorida tudo diminui proporcionalmente constante
    div azul largura diminui constante
    section largura diminui constante */
}

@media only screen and (max-width: 1279px) {
    /* menu fonte tamanho diminui
    div azul muda formato
    div azul imagem diminui constantemente */
}

@media only screen and (max-width: 1123px) {
    /* section h2 e p size diminuem */
}

@media only screen and (max-width: 1023px) {
    /* menu fonte tamanho aumenta
    input inteiro sign up largura diminui constante
    footer ableton tamanho diminui */
}

@media only screen and (max-width: 767px) {
    /* header fonte tamanho diminui */
}

@media only screen and (max-width: 419px) {
    /* footer botoes redes tamanho diminui */
}

@media only screen and (max-width: 215px) {
    /* container branco largura diminui constante
    menu altura diminui constante
    menu fonte tamamho diminui constante
    header altura diminui constante
    header fonte tamanho diminui constante
    section h2 e p size diminem constante
    footer ableton tamanho diminui constante */
}
@media only screen and (max-width: 129px) {
    /* input cinza sign up largura fixa */
}